<!doctype html>
<html>
    <head>
        <title>MAY Board</title>
        <link rel="stylesheet" href="form_style.css">
    </head>
    <body>
        <div class="login-page">
            <div class="form">
                <form class="register-form">
                    <input type="text" placeholder="name"/>
                    <input type="password" placeholder="password"/>
                    <input type="text" placeholder="email address"/>
                    <button>create</button>
                    <p class="message">Already registered? <span>Sign In</span></p>
                </form>
                <form class="login-form">
                    <input type="text" placeholder="username"/>
                    <input type="password" placeholder="password"/>
                    <button>login</button>
                    <p class="message">Not registered? <span>Create an account</span></p>
                </form>
            </div>
        </div>
        <script type="text/javascript" src="form_script.js"></script>
    </body>
</html>