<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>MAY Board</title>
        <link rel="stylesheet" type="text/css" href="/view/form_style.css">
    </head>
    <body>
        <div class="login-page">
            <div class="form">
                <p id="error"></p>
                <form class="register-form" action="/regist" method="post" onsubmit="return check()">
                    <input type="text" id="reg_id" placeholder="name"/>
                    <input type="password" id="reg_pwd" placeholder="password"/>
                    <input type="text" id="reg_email" placeholder="email address"/>
                    <button>create</button>
                    <p class="message">이미 가입하셨나요? <a href="#">로그인</a></p>
                </form>
                <form class="login-form" action="/login" method="post">
                    <input type="text" id="login_id" placeholder="username"/>
                    <input type="password" id="login_pwd" placeholder="password"/>
                    <button>login</button>
                    <p class="message">아직 가입하지 않으셨나요? <a href="#">회원가입</a></p>
                </form>
            </div>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script type="text/javascript" src="/view/form_script.js"></script>
    </body>
</html>