<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>MAY Board</title>
        <link rel="stylesheet" href="/view/form_style.css">
    </head>
    <body>
        <div class="login-page">
            성공적으로 회원가입이 완료되었습니다.
        </div>
    </body>
</html>