<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>MAY Board</title>
        <link rel="stylesheet" href="/view/form_style.css">
    </head>
    <body>
        <div class="login-page">
            입력하신 이메일로 인증 메일이 발송되었습니다.
            이메일 인증 후 이용하실 수 있습니다.
        </div>
    </body>
</html>